#========================================
# General rules
#========================================
# --------------------------------
# Git merge
# --------------------------------
*.orig

# --------------------------------
# Visual Studio
# --------------------------------
*.suo
*.user
/.vs/
/**/.vscode

# --------------------------------
# Roslyn
# --------------------------------
*.sln.ide/

# --------------------------------
# MsTest
# --------------------------------
/TestResults/

# --------------------------------
# NuGet
# --------------------------------
packages/

# --------------------------------
# NodeJS
# --------------------------------
/**/node_modules
npm-debug.log
/**/deep-build.lock

# --------------------------------
# JetBrains products
# --------------------------------
_ReSharper.*/
/DotCover/
.idea/
*.iml

# --------------------------------
# NCrunch product
# --------------------------------
/**/*.ncrunchproject
_NCrunch_*/
*.ncrunchsolution

# --------------------------------
# Talentsoft tooling
# --------------------------------
/Build/
/tmp/
/publishedresources/

# --------------------------------
# Karma
# --------------------------------
karma.user.json
debug.log
coverage

# --------------------------------
# Azure projects
# --------------------------------
/**/csx/

# --------------------------------
# C# projects
# --------------------------------
/**/obj/
/**/bin/*

# --------------------------------
# SQL projects
# --------------------------------
/**/*.dbmdl
/**/*.jfm

# --------------------------------
# Foundation WebTests projects
# --------------------------------
/**/user.config

#========================================
# Project rules
#========================================
